<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="RezervaciiProekt.WSRezervacii" value="http://student.labs.ii.edu.mk/ii12237/WSRezervacii.asmx"/>
	</appSettings>
	<connectionStrings>
		<add name="SQL" connectionString="Data Source=.;Initial Catalog=Restoran;Persist Security Info=True;User ID=sa;Password=1"/>
		<add name="SQLMoj" connectionString="Data Source=janmark.dyndns.org\SQLEXPRESS,1027;Initial Catalog=Restoran;Persist Security Info=True;User ID=Internet;Password=1"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
</configuration>
